body
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: #ff9a00;
}

ul
{
    margin: 0;
    padding: 50px;
    border: 10px solid #FFFF7F;
    display: inline-block;
    border-radius: 5px;
}

ul li
{
list-style: none;
letter-spacing: 15px;
color: #FFFF7F;
float: left;
font-size: 5em;
font-family: Arial, Helvetica, sans-serif;
transition: .9s ;
}

ul:hover li
{
    transform: rotateY(360deg);
}

ul:hover li:nth-child(2)
{
    transition-delay: 10.s;
    transform: rotateX(360deg);
}
ul:hover li:nth-child(4)
{
    transition-delay: 5.s;
    transform: rotateX(360deg);
}
ul:hover li:nth-child(6)
{
    transition-delay: 2.s;
    transform: rotateX(360deg);
}


 